.services_wrapper {
  background: #121212;
  width: 100%;
  margin: 0 auto;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-top: 151px;
  padding-bottom: 35px;
  padding-left: 2px;
}
.services {
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.service_item {
  width: 570px;
  position: relative;
}

.item_name {
  margin-left: 4px;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 15px;
}
.item_price {
  position: absolute;
}
.item_price__label {
  height: 40px;
  width: 163px;
  border-radius: 5px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  background-color: #ad1818;
  color: #ffffff;
  text-align: center;
  margin-top: 31px;
  margin-left: 30px;
}
