.about {
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

h2 {
  letter-spacing: -0.01em;
  padding-top: 150px;
  padding-bottom: 30px;
}

.about_title {
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  letter-spacing: -0.03em;
  padding-left: 3px;
}
.about_btn {
  font-family: inherit;
  margin-top: 30px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 21px;
  line-height: 27px;
  border-radius: 5px;
  background-color: #ad1818;
  color: #ffffff;
  letter-spacing: -0.03em;
  cursor: pointer;
  border: #ad1818;
}

@media (max-width: 1199px) {
  h2 {
    padding-top: 120px;
  }
  .about_title {
    font-size: 35px;
    line-height: 48px;
  }
}

@media (max-width: 767px) {
  h2 {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .about_title {
    width: 100%;
    font-size: 23px;
    line-height: 30px;
  }
  .about_btn {
    padding: 15px 27px;
    font-size: 16px;
    line-height: 22px;
  }
}
