.contacts_wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
h2 {
  color: #121212;
  letter-spacing: -0.03em;
  padding-top: 150px;
}
.contacts__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 104px;
  padding-bottom: 150px;
}

.contacts__phone::before {
  margin-bottom: 27px;
  content: "";
  display: block;
  height: 22px;
  width: 14px;
  background-image: url(/resources/contacts/phone-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__phone {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #121212;
  text-decoration: none;
}
.contacts__email::before {
  margin-bottom: 23px;
  content: "";
  display: block;
  height: 26px;
  width: 19px;
  background-image: url(/resources/contacts/telegram-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts__email {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

.contacts__link {
  color: #121212;
  text-decoration: none;
}
.contacts__link:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

@media (max-width: 1199px) {
  h2 {
    padding-top: 120px;
  }
  .contacts__block {
    gap: 114px;
    padding-bottom: 120px;
  }
  .contacts__phone {
    font-size: 45px;
  }
  .contacts__email {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  h2 {
    padding-top: 80px;
  }
  .contacts__block {
    flex-direction: column;
    gap: 58px;
    padding-bottom: 80px;
  }
  .contacts__phone {
    font-size: 35px;
    line-height: 46px;
  }
  .contacts__email {
    font-size: 35px;
    line-height: 46px;
  }
}

