footer {
  height: 229px;
  background-color: #121212;
}

.links_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding-top: 62px;
  padding-bottom: 87px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.design_studio {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: -0.03em;
  opacity: 50%;
  padding-top: 1px;
}

.link:hover {
  text-decoration: none;
  opacity: 50%;
}

@media (max-width: 767px) {
  footer {
    height: 131px;
  }
  .links_wrapper {
    width: 280px;
    padding-top: 30px;
    padding-bottom: 41px;
  }
  .link {
    font-size: 12px;
    line-height: 16px;
  }
  .design_studio {
    font-size: 13px;
    line-height: 18px;
  }
}
